<main>
    <div class="mycard" *ngIf="!registerMode">
        <h1>Logowanie</h1>
        <form (keydown.enter)="$event.preventDefault()">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" (keydown.enter)="login()" required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" (keydown.enter)="login()" required>
            </div>
            <p class="error"> {{error}} </p>
        </form>
        <button class="btn btn-outline-dark btn-sm action" (click)="login()" type="button">Log in</button>
        <div class="return">
          <p>Don't have an account? <span class="link" style="cursor: pointer;" (click)="registerModeChange(true)">-&gt; Sign up</span></p>
        </div>
    </div>

    <div class="mycard" *ngIf="registerMode">
        <h1>Registration</h1>
        <form (keydown.enter)="$event.preventDefault()">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" required>
            </div>
            <div>
                <label for="email">E-Mail:</label>
                <input type="email" id="email" required>
            </div>
            <div>
                <label for="password1">Password:</label>
                <input type="password" id="password1" required>
            </div>
            <div>
                <label for="password2">Repeat password:</label>
                <input type="password" id="password2" (keydown.enter)="register()" required>
            </div>
            <p class="error">{{error}}</p>
        </form>
        <button class="btn btn-outline-dark btn-sm action" (click)="register()" type="button">Sign up</button>
        <div class="return">
            <p>Have an account? <span class="link" style="cursor: pointer;" (click)="registerModeChange(false)">Log in</span></p>
        </div>

    </div>
</main>
